/* Input styles */

::plaveholder {
  color: var(--gray-300);
}

.input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: var(--gray-100);
  border: none;
  border-radius: 5px;
  background-color: var(--gray-500);
  box-shadow: 0 0 0 1px var(--gray-700);
}

input[type="text"]:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--purple-dark);
}
