/* App Styles */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 200px;
  background-color: var(--gray-700);
}

.header img {
  width: 126px;
  height: 48px;
}

.content {
  width: 100%;
  max-width: 730px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.createInputWrapper {
  display: flex;
  margin-top: -27px;
}

.createInputWrapper input {
  margin-right: 0.5rem;
}

.createInputWrapper button {
  flex-shrink: 0;
}

.todo {
  margin-top: 4rem;
}

.todoHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.todoHead h2 {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
}

.todoHead h2:first-child {
  color: var(--blue);
}

.todoHead h2:last-child {
  color: var(--purple);
}

.todoHead h2 > span {
  font-size: 0.75rem;
  color: var(--gray-200);
  background-color: var(--gray-400);
  padding: 2px 8px;
  border-radius: 999px;
}

.emptySection {
  padding: 4rem 0;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.emptySection img {
  display: block;
  margin: 0 auto;
}

.emptySection p {
  font-size: 1rem;
  color: var(--gray-300);
  text-align: center;
  line-height: 1.4;
  margin: 1rem 0;
}

.emptySection p span {
  display: block;
  font-weight: 700;
}